@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
background-color: tomato;

font-size: medium;
}


.header-buttons{
    margin-left: 50px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-sizing: 10px;
    
}
.style{
    color: red;
    font-size: large;
    

}

.headerheding
{

    padding-bottom: 100px;
    font-size: large;
    grid-auto-flow: dense;
    grid-column: auto;
    
}
